* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    margin-top: 20px;
}

.btn {
    background-color:
        #538a8f;
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 5px;
}

.btn:hover {
    background-color: #2d4247;
    color: #fff;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.giphy-content {
    margin-right: 40px;
}

.search-content {
    margin-right: 80px;
    width: 50vh;
}

.search-content h2 {
    font-weight: 700;
}

.search-content input {
    border: 2px solid #2d4247;
    transition: none;
}

#submit {
    margin-top: 10px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
}

#dynamic {
    margin-right: 5px;
    width: 200px;
    height: 200px;
    margin-top: 30px;
}